<div class="no-top-padding">
<%= form_for(@usergroup) do |q| %>
  <div class="field">
    <%= q.label :name, "Name" %><br>
    <%= q.text_field :name %>
  </div>
  <div class="actions">
    <%= q.submit "Add New Group", class:"submit-button", style:"width: 300px;"%>
  </div>
<% end %>
</div>
