<h1 class="show-header"> Groups You Belong To </h1>

<div class="groups-list">
<% unless @usergroups.nil? %>
  <% @usergroups.each do |usergroup| %>
    <li> <%= link_to usergroup.name, usergroup %></li>
  <% end %>
<% end %>
</div>
