<div class="index-page">
  <h1 class="show-header"> New Group Form </h1>

  <%= render 'form' %>
  <br>
</div>

<%= image_tag href="https://static.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg", class:"welcome-image" %>
