<div class="index-page">
  <h1 class="show-header">Your Profile</h1> <br>

  <div class="profile-list">
    <ul> Name: <%= current_user.name %> </ul>
  </div>
</div>

<%= image_tag href="https://static.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg", class:"welcome-image" %>
