<h1 class="show-header"> Your Profile </h1> <br>

<h4> Email: <%= current_user.email %> </h4>
<h4> First Name: <%= current_user.first_name %> </h4>
<h4> Last Name: <%= current_user.last_name %> </h4>
