
<div class="welcome">
<h1 class="show-header">Welcome</h1>

<% unless current_user %>
  <p class="home-page"> Please sign in before continuing!</p>
<% end %>

</div>

<%= image_tag href="https://static.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg", class:"welcome-image" %>
