/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .body {
   background-color: #E4DED0;
 }
 .header {
    text-align: center;
    background: white;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
  }

.header .headline {
    color: black;
    font-family: 'Raleway';

  }

.header .headline-sub {
  color:  black;
  font-family: 'Raleway';
}

.header-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    position: relative;
  }

.header-subnav li {
   float: none;
   display: inline-block; }

.header-subnav li a {
   padding: 0.9rem 1rem;
   font-size: 0.75rem;
   color: white;
   text-transform: uppercase;
   display: block;
   font-weight: bold;
   letter-spacing: 1px;
   transition: all 0.35s ease-in-out; }

.header-subnav li a.is-active {
   background: rgba(250, 250, 250, 0.15); }

.header-subnav li a:hover {
   background: rgba(250, 250, 250, 0.15);
   transition: all 0.35s ease-in-out; }

.login-name {
  display: inline-block;
  color: black;
  padding-bottom: 10px;
  font-family: 'Raleway';
}

.signed-in-as {
  color: black;
  font-family: 'Raleway';
  font-size: 18px;
  display: inline-block;
  position: absolute;
}

.sign-out-button {
  background-color: lighten(black, 65%);
  font-family: 'Raleway';
  font-size: 16px;
  display: inline-block;
  padding: 8px;
  color: white;
  border-radius: 5px;
}

.header-button {
  background-color: black;
  font-family: 'Raleway';
  color: white;
}

.sign-up {
  border: solid;
  padding: 6px;
}

.show-header {
  text-align: center;
  padding: 20px;
  font-family: 'Raleway';
  font-size: 70px;
}

.no-top-padding {
  text-align: center;
}

.field {
  width: 40%;
  margin: auto;
}

.submit-button {
  background-color: #E4DED0;
  border: solid;
}

.show-profile {
  padding-left: 50px;
}

.groups-list {
  text-align: center;
}

.profile-list {
  text-align: center;
}

.list-item {
  background-color: #E4DED0;
  width: 300px;
  margin: auto;
  font-size: 20px;
  font-family: 'Raleway';
  padding: 10px;
  border: solid;
}

.home-page {
  font-family: 'Raleway';
  text-align: center;
  font-size: 24px;
}

.welcome-image {
  position: relative;
  z-index: -1;
}

.welcome {
  position: absolute;
  z-index: 1;
  color: white;
  font-weight: bold;
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.log-in-page {
  width: 40%;
  display: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-top: 15px;
}

.generic-buttons {
  background-color: #E4DED0;
  border: solid;
  padding: 5px;
}

#show-row {
  margin-bottom: 30px;
  background-color: white;
}

.show-image {
  width: 600px;
}
