/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .body {
   background-color: #E4DED0;
 }
 .header {
    text-align: center;
    background: #7DBEB8;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: 2.5rem;
    padding-bottom: 4.9rem;
    box-shadow: 0 -1px 10px 2px black;
  }

.header .headline {
    color:  lighten(#E4DED0, 10%);
    font-family: 'Flamenco';
    text-shadow: 1px 1px 1px black;
  }

.header .headline-sub {
  color:  lighten(#E4DED0, 10%);
  font-family: 'Flamenco';
  text-shadow: 1px 1px 1px black;
}

.header-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }

.header-subnav li {
   float: none;
   display: inline-block; }

.header-subnav li a {
   padding: 0.9rem 1rem;
   font-size: 0.75rem;
   color: black;
   text-transform: uppercase;
   display: block;
   font-weight: bold;
   letter-spacing: 1px;
   transition: all 0.35s ease-in-out; }

.header-subnav li a.is-active {
   background: rgba(250, 250, 250, 0.15); }

.header-subnav li a:hover {
   background: rgba(250, 250, 250, 0.15);
   transition: all 0.35s ease-in-out; }

.login-name {
  display: inline-block;

}

.signed-in-as {
  color: lighten(#E4DED0, 5%);
  font-family: 'Flamenco';
  font-size: 18px;
  display: inline-block;
}

.sign-out-button {
  background-color: #E4DED0;
  font-family: 'Flamenco';
  font-size: 16px;
  display: inline-block;
  padding: 2px;
}

.header-button {
  background-color: lighten(#E32F21, 5%);
  font-family: 'Flamenco';
  box-shadow: 0 -1px 10px black;
}

.show-header {
  text-align: center;
  padding: 20px;
  font-family: 'Flamenco';
}

.no-top-padding {
  text-align: center;
}

.field {
  width: 40%;
  margin: auto;
}

.submit-button {
  background-color: #ABCCBD;
}

.show-profile {
  padding-left: 50px;
}

.groups-list {
  text-align: center;
}

.profile-list {
  text-align: center;
}

.list-item {
  background-color: #ABCCBD;
  width: 200px;
  margin: auto;
  box-shadow: 0 -1px 5px black;
  font-size: 20px;
}

.home-page {
  font-family: 'Flamenco';
  text-align: center;
  font-size: 24px;
}


.footer {
  background-color: #7DBEB8;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  box-shadow: 0 -1px 10px 2px black;}

.footer .links a {
  list-style: none;
  font-weight: bold;
  color: #ffffff;
  padding: 3rem 0 2rem;
  margin: 0; }

.footer .links a::after {
  content: "•";
  padding: 0 0.4rem 0 0.8rem; }

.footer .links a:last-child::after {
  content: "";
  padding: 0 0.4rem 0 0.8rem; }
